body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;         
    display: flex;    
    justify-content: center;
    align-items: center;
    background: #f0f0f0;   
}

/* ปุ่ม */
button {
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    background: #9a5ab4;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover {
    background: #200731;    
}
